* {
  padding: 0px;
  margin: 0;
  font-family: Tahoma;
}

/* h1,
h2 {
  font-weight: normal;
} */
.header {
  background-image: linear-gradient(rgba(20, 20, 20, 0.63),rgba(20, 20, 20, 0.63)),url('./image/closeup-photo-of-assorted-title-books-1122865.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 10px 0;
  color: white;
  text-align: center;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.header__nav__menu {
  height: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.836);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  float: right;
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
}
.header a {
  text-decoration: none;
  padding: 20px;
  color:white;
}

.header h1 {
  margin-top: 15%;
  padding-bottom: 5px;
}

.book-list {
  margin: 30px;
}

.book-list ul {
  list-style-type: none;
  padding: 0;
}

.book-list li {
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
}

.book-list li:hover {
  border-color: #9361bf;
}

.reserve {
  float: right;
  background: #9361bf;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.reserve:hover {
  background: #333;
}

/* // Styling the form */

.input__form{
  text-align: center;  
  width: 250px;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #9361bf;
  margin: 30px auto;
}
.input__form input{
  padding: 5px;
  margin: 20px;
}
.input__form select{
  padding: 5px;
  margin: 20px;
  background-color: transparent;
  font-weight: 800;
  color: #4b4253;
}

.input__form .submit{
  border: 1px solid #4b4253;
  background: #4b4253;
  padding: 10px 20px;
  font-size: 14px;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin: 20px 0;
  color: white;
}

/* style the book list */
.book-list .newBook{
  display: flex;
  justify-content: space-between;
}

.book-list .newBook .newBook__name{
  font-weight: normal;
  width: 300px;
}
.book-list .newBook .newBook__author{
  width: 150px;
}
.book-list .newBook button{
  border: 1px solid #4b4253;
  background: #477e72;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  width: 130px;
  color:white;                        
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.error__desc {
  text-align: center;
  font-size: 1.5em;
}
.error__msg {
  color: #999;
}